__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
.idea/
.vscode/
*.log
xray.exe
Xray/
configs.txt
*.subscription.txt
results/
v2ray_quality_vmess.txt
v2ray_quality_report.json
v2ray_quality_report.txt
*.dat
*.dll
*.db
LICENSE-Wintun
.freebuff/
out_gh/
xray_no_window.*
